
#photo-gallery{
    background-color: bisque;
    height:900px;
}
.photo-column{
    background-color:sienna;
    height:900px;
}
.photo-sm{
    weight:100%;
    height:380px;
    background-color: burlywood;
    margin-top: 20px;
    overflow: hidden;
}
.photo-big{
    weight:100%;
    height:380px;
    background-color:brown;
    margin-top: 20px;
    overflow: hidden;
}

@media (max-width:575.98px){
    .vedio{
        margin-top: 20px;
        width: 100%;
        height: 100%;
    }
}
@media (min-width:575.98px){
    .vedio{
        margin-top: 20px;
        width: 100%;
        height: 400px;
    }
}
@media (min-width:767.98px){
    .vedio{
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
}
@media (min-width:991.98px){
    .vedio{
        margin-top: 20px;
        width: 100%;
        height: 800px;
    }
}
